.first {
    color: blue;
}
.second {
    color: red;
}
.third {
    color: green;
}
.fourth {
    color: yellow;
}
.fifth {
    color: purple;
}
.logo {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: blue;
    background-color: rgb(127, 244, 9);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1::selection {
    background-color: black;
    color: white;
}
h1{
    font-size: 60px;
    text-align: center;
}
input {
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 200px;
    left:50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width:20rem;
}
button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    left:820px;
    top:40%;
}
#example {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color:black;
    background-color: #d5e1ec;
    top:53%;
    left:50%;
    transform: translate(-50%, -50%);
}
#lan {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}
#english {
    color: blue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
#about {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    left:30px;
    top:30px;
}
#about:hover {
    text-decoration: underline;
}
.privacy-content {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    line-height: 1.6;
    margin-bottom: 100px;
}
.privacy-content h1 {
    font-size: 48px;
    color: blue;
    margin-bottom: 10px;
    text-align: center;
}
.privacy-content h2 {
    color: blue;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
}
.privacy-content p {
    margin-bottom: 15px;
    font-size: 16px;
}
.privacy-content ul {
    margin-left: 20px;
    margin-bottom: 15px;
}
.privacy-content li {
    margin-bottom: 10px;
}
.privacy-content a {
    color: blue;
    text-decoration: none;
}
.privacy-content a:hover {
    text-decoration: underline;
}
#privacy {
    position: absolute;
    top: 20px;
    left: 60px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
#privacy:hover {
    text-decoration: underline;
}